.top .nap{
    position: fixed;
    background: transparent;
    top: 30px;
    left: 45px;
    right: 45px;
    z-index: 1000;
}
body{
    background-color: rgb(38,30,103);
}
.top_linka{
    text-decoration: none;
    color:white;
}
.top_linkb{
    float: right;
}
.text{
    color: white;
    text-align: center;
}
.txt{
    color: white;
    z-index: 1000;
}
iframe{
    z-index: 1;
}
.team_pic{
    border-radius: 50%;
    height: 300px;
    width: 300px;
}
.txt1{
    color: rgb(85, 85, 85);
}
.team_b{
    border-radius: 50%;
    background-color: rgb(95, 95, 95);
}
.fenge{  
    background: rgb(5,20,255);
    background: linear-gradient(90deg, rgba(5,20,255,1) 0%, rgba(76,84,255,1) 35%, rgba(123,251,255,1) 81%);
}
.nav{
    text-align: center;
}
.btn {
 display: inline-block;
 border-radius: 7px;
 border: none;
 background: #1875FF;
 color: white;
 font-family: inherit;
 text-align: center;
 font-size: 13px;
 box-shadow: 0px 14px 56px -11px #1875FF;
 width: 10em;
 padding: 1em;
 transition: all 0.4s;
 cursor: pointer;
 float:right;
}

.btn span {
 cursor: pointer;
 display: inline-block;
 position: relative;
 transition: 0.4s;
}

.btn span:after {
 content: 'for free';
 position: absolute;
 opacity: 0;
 top: 0;
 right: -20px;
 transition: 0.7s;
}

.btn:hover span {
 padding-right: 3.55em;
}

.btn:hover span:after {
 opacity: 4;
 right: 0;
}